.main-parent{
    display:flex;
    justify-content: space-between;
    height: 100%;
}
.parent-element-1{
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:start ;
}

.parent-element-2{
    background-color:goldenrod;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parent-element-2:hover{
justify-content:flex-start;
}
.parent-element-3{
    background-color:orangered;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}